@{
    ViewBag.Title = "About";
}
<section class="jumbotron">
    <h1>About Dylan Taylor Art</h1>
    <p>
        General description of the firm, the provenance of the art
        for sale and how to contact Martin Taylor
    </p>
</section>
<section>
    <div class="row">
        <div class="col-lg-6">
            <h2>Bob Dylan International Cultural Icon</h2>
            <p class="lead">
                A musician, singer/songwriter, artist and writer who has released over 50 albums.
                Dylan continues to tour world wide and plays to sold out audiences all over the world.
            </p>
            <p class="lead">
                Dylan first exhibited art in 2007 in a gallery in Germany. This was the worlds first
                view of the original Drawn Blank Series drawings. Following the success of the exhibition
                Dylan started to release hand signed limited edition prints from 2008 onwards.
            </p>
            <p class="lead">
                I focus on the Drawn Blanks from 2008 to 2016 but can advise on any aspect of Dylans art.
                More specifically the Brazil Series, Sidetracks and originals.
            </p>
            <p class="lead">
                I am an enthusiastic Dylan fan and have seen him live over 20 times. I am happy to be
                contacted by phone or email and discuss your specific requirements.
            </p>
            <p class="lead">
                I am based just North of London in Hertfordshire which has excellent road and rail links,
                just off the M25.
                Visitors to the studio are welcome by arrangement and you can view about 45 signed
                Dylan prints.
            </p>
            <br /><br />
            <p>
                <a href="~/Home/Contact" class="btn btn-success btn-lg">To Contact Martin &raquo;</a>
            </p>
        </div>
        <div class="col-lg-6">
            <h2>On Show in Marks and Tilt Gallery</h2>
            <fieldset>
                <img class="img-responsive img-rounded" src="~/Images/Shows/2017MarksTilt1.jpg" />
            </fieldset>
        </div>
    </div>
</section>
