@{
    ViewBag.Title = "About";
}
<section class="jumbotron">
    <h1>About Dylan Taylor Art</h1>
    <p>
        General description of the firm, the provenance of the art
        for sale and how to contact Martin Taylor
    </p>
</section>

<p>Pictures and details</p>
