
@{
    ViewBag.Title = "Chagall";
}

<section class="jumbotron">

    <h1>Dylan Taylor Art</h1>
    <h2>Chagall Lithographs</h2>

    <blockquote>
        <p>
            <strong>Marc Chagall</strong> (July 6, 1887 – March 28, 1985)
            was a Russian-French artist of Belarusian Jewish origin. An early modernist, 
            he was associated with several major artistic styles and created works in a 
            wide range of artistic formats, including painting, drawings, book illustrations, 
            stained glass, stage sets, ceramics, tapestries and fine art prints.
        </p>
        <p>
            <span class="text-right">
                <a href="https://en.wikipedia.org/wiki/Marc_Chagall" target="_blank">Wikipedia 2021</a>
            </span>
        </p>

    </blockquote>

    <p class="text-right">
        <a href="~/Home/Contact" class="btn btn-success btn-lg">Contact Martin &raquo;</a>
    </p>

</section>
<main>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Recontre de Ruth et de Boaz</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Chagall/RecontreRuth.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Lithograph printed in Colours
                    </p>
                    <p class="text-right">
                        Image size: 520mm x 378mm
                    </p>
                    <p class="text-right">
                        Signed in pencil
                    </p>
                    <p class="text-right">
                        Inscribed ‘H.C’,an hors commerce impression aside from the numbered edition of 50
                    </p>
                    <p class="text-right">
                        1960
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Le Visage d’Israel</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Chagall/LeVisage.jpg" />
                        </figure>
                    </a>
                    <br/>
                    <p class="text-right">
                        Lithograph printed in colours
                    </p>
                    <p class="text-right">
                        Image size: 523mm x 380mm
                    </p>
                    <p class="text-right">
                        Signed in pencil
                    </p>
                    <p class="text-right">
                        1960
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Prices on Application</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">L’oiseau-peintre </h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Chagall/LoiseauP.jpg" />
                        </figure>
                    </a><br/>
                    <p class="text-right">
                        Lithograph printed in colours
                    </p>
                    <p class="text-right">
                        Image size: 645mm x 462mm
                    </p>
                    <p class="text-right">
                        Signed in pencil and numbered 37/50
                    </p>
                    <p class="text-right">
                        1967
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£5850</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>
</main>

