@model DylanTaylorArt.Models.Collection

@{
    ViewBag.Title = "Collections";
}

<section class="jumbotron">

    @if (Model.Artist == DylanTaylorArt.Models.Artists.Bob_Dylan)
    {
        <h1>Dylan Taylor Art</h1>
        <h2>@Model.CollectionName Collection</h2>
        <p>
            A limited edition of 295 copies of Graphics hand signed in graphite pencil by Bob Dylan.
            <br />Printed on Hahnem&uuml;hle 350gm Museum Etching Paper
        </p>
    }
    else
    {
        <h1>Crazy Horse Contemporary</h1>
        <h2>@Model.CollectionName</h2>
        <p>
            Largely Acrylic &amp; Oil Pastels on Canvas, with some
            Multi-media sketch box framed. 
        </p>
    }

    @using (Html.BeginForm())
    {
        <span style="font-size:1.0em;">
            @Html.DropDownList("CollectionID", String.Empty)
        </span>

        <input type="submit" value="Change Collection" />
    }

    <p class="text-right">
        <a href="~/Home/Contact" class="btn btn-success btn-lg">Contact Martin &raquo;</a>
    </p>

</section>

<section>
    @Html.Partial("_Graphic", Model)
</section>
