@{
    ViewBag.Title = "Contact";
}
<section class="jumbotron">
    <h1>Contact Dylan Taylor Art</h1>
    <p>
        How to contact Martin Taylor
    </p>
</section>
<section class="row">
    <section class="col-lg-6">
        <p>
            Please do not hesitate to email or call. If references are required then please just ask.
        </p>
        <p>
            I am always happy to talk about any aspect of Dylans art.
        </p>
        <p>
            <strong>Phone: </strong>07779 665 556
        </p>
        <p>
            <strong>Email:</strong> <a href="mailto:martin.tennis50@gmail.com">martin.tennis50@gmail.com</a>
        </p>
    </section>
    <section class="col-lg-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93975.59500710503!2d-0.3654921839914481!3d51.76066343079925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487638a0e793c909%3A0x71ec848046a64059!2sSt+Albans!5e0!3m2!1sen!2suk!4v1539609662226" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>

        </iframe>
    </section>
</section>

