
@{
    ViewBag.Title = "DylanArt";
}

<section class="jumbotron">
    <h1>Dylan Taylor Art</h1>
    <h2>Bob Dylan Limited Edition Collections</h2>
    <p class="lead">
        Select Collection
        <select>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
        </select>
    </p>
</section>
<section>
    <div class="row">
        <div class="col-md-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="text-center">Sidewalk Cafe</h3>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Print1.png">
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        The Bob Dylan Collection 2008
                    </p>
                    <p class="text-right">
                        Graphics - Standard Format
                    </p>
                    <p class="text-right">
                        Price £2,000
                    </p>
                    <p>
                        <button class="btn btn-success pull-right" type="button"
                                data-toggle="collapse" data-target="#print1Details">
                            Limited Edition <span class="badge">1</span>
                        </button>
                    </p>
                    <div class="collapse" id="print1Details">
                        <br /><br />
                        <div class="well">
                            <p>
                                A signed limited edition giclee on paper of 295 by cultural legend, Bob Dylan, entitled Sidewalk Cafe.
                            </p>
                            <p>
                                Created whilst on tour between 1989 and 1992, The Drawn Blank Series captures Dylan's encounters and observations.
                            </p>
                            <table class="table table-bordered">
                                <tr>
                                    <td>
                                        Image Size
                                    </td>
                                    <td>
                                        15.75 x 21.5 in
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Frame Size
                                    </td>
                                    <td>
                                        28 x 35 in
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Framed with
                                    </td>
                                    <td>
                                        Glass
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Edition Size
                                    </td>
                                    <td>
                                        295
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="text-center">Vista from Balcony</h3>
                </div>
                <div class="panel-body">
                    <a href="#">
                        <figure>
                            <img class="img-responsive" src="~/Images/Print2.png">
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        The Bob Dylan Collection 2010
                    </p>
                    <p class="text-right">
                        Graphics - Medium Format
                    </p>
                    <p class="text-right">
                        Price £3,000
                    </p>

                    <button class="btn btn-success pull-right" type="button">
                        Limited Edition <span class="badge">1</span>
                    </button>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="text-center">Sidewalk Cafe</h3>
                </div>
                <div class="panel-body">
                    <a href="#">
                        <figure>
                            <img class="img-responsive" src="~/Images/Print3.png">
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        The Bob Dylan Collection 2018
                    </p>
                    <p class="text-right">
                        Graphics - Standard Format
                    </p>
                    <p class="text-right">
                        Price £3,500
                    </p>

                    <button class="btn btn-success pull-right" type="button">
                        Limited Edition <span class="badge">1</span>
                    </button>
                </div>
            </article>
        </div>
    </div>
</section>
