
@{
    ViewBag.Title = "Gallery";
}
<section class="jumbotron">
    <h1>Dylan Taylor Art</h1>
    <h2>Gallery of Bob Dylan Limited Edition Collections</h2>
</section>

<div class="row">
    <div class="col-md-2 gallery">
        <figure>
            <figcaption class="text-center">Sidewalk Cafe 2008</figcaption>
            <br />
            <img class="img-responsive" src="~/Images/Print1.png">
        </figure>
    </div>
    <div class="col-md-2 gallery">
        <figure>
            <figcaption class="text-center">Vista From Balcony</figcaption>
            <br />
            <img class="img-responsive" src="~/Images/Print2.png">
        </figure>
    </div>
    <div class="col-md-2 gallery">
        <figure>
            <figcaption class="text-center">Sidewalk Cafe 2018</figcaption>
            <br />
            <img class="img-responsive" src="~/Images/Print3.png">
        </figure>
    </div>
    <div class="col-md-2 gallery">
        <figure>
            <figcaption class="text-center">Sidewalk Cafe 2008</figcaption>
            <br />
            <img class="img-responsive" src="~/Images/Print1.png">
        </figure>
    </div>
    <div class="col-md-2 gallery">
        <figure>
            <figcaption class="text-center">Vista From Balcony</figcaption>
            <br />
            <img class="img-responsive" src="~/Images/Print2.png">
        </figure>
    </div>
    <div class="col-md-2 gallery">
        <figure>
            <figcaption class="text-center">Sidewalk Cafe 2018</figcaption>
            <br />
            <img class="img-responsive" src="~/Images/Print3.png">
        </figure>
    </div>
</div>

<div class="row">
    <div class="col-md-2 gallery">
        <figure>
            <figcaption class="text-center">Sidewalk Cafe 2008</figcaption>
            <br />
            <img class="img-responsive" src="~/Images/Print1.png">
        </figure>
    </div>
    <div class="col-md-2 gallery">
        <figure>
            <figcaption class="text-center">Vista From Balcony</figcaption>
            <br />
            <img class="img-responsive" src="~/Images/Print2.png">
        </figure>
    </div>
    <div class="col-md-2 gallery">
        <figure>
            <figcaption class="text-center">Sidewalk Cafe 2018</figcaption>
            <br />
            <img class="img-responsive" src="~/Images/Print3.png">
        </figure>
    </div>
    <div class="col-md-2 gallery">
        <figure>
            <figcaption class="text-center">Sidewalk Cafe 2008</figcaption>
            <br />
            <img class="img-responsive" src="~/Images/Print1.png">
        </figure>
    </div>
    <div class="col-md-2 gallery">
        <figure>
            <figcaption class="text-center">Vista From Balcony</figcaption>
            <br />
            <img class="img-responsive" src="~/Images/Print2.png">
        </figure>
    </div>
    <div class="col-md-2 gallery">
        <figure>
            <figcaption class="text-center">Sidewalk Cafe 2018</figcaption>
            <br />
            <img class="img-responsive" src="~/Images/Print3.png">
        </figure>
    </div>
</div>

