
@{
    ViewBag.Title = "Henry Moore";
}

<section class="jumbotron">

    <h1>Dylan Taylor Art</h1>
    <h2>Henry Moore Graphics for sale</h2>
    <blockquote>
        <p>
            <strong>Henry Spencer Moore</strong> OM CH FBA (30 July 1898 – 31 August 1986) was an English artist. He is best known for his semi-abstract monumental bronze sculptures which are located around the world as public works of art. As well as sculpture, Moore produced many drawings, including a series depicting Londoners sheltering from the Blitz during the Second World War, along with other graphic works on paper.
        </p>
        <p>
            His forms are usually abstractions of the human figure, typically depicting mother-and-child or reclining figures. Moore's works are usually suggestive of the female body, apart from a phase in the 1950s when he sculpted family groups. His forms are generally pierced or contain hollow spaces. Many interpreters liken the undulating form of his reclining figures to the landscape and hills of his birthplace, Yorkshire.
            <span class="text-right"><a href="https://en.wikipedia.org/wiki/Henry_Moore" target="_blank">Wikipedia 2019</a></span>
        </p>
    </blockquote>
    <p class="text-right">
        <a href="~/Home/Contact" class="btn btn-success btn-lg">Contact Martin &raquo;</a>
    </p>
</section>
<main>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Three Sisters</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/HenryMoore/3 Sisters.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Signed in pencil
                    </p>
                    <p class="text-right">
                        Lithograph in 10 colours
                    </p>
                    <p class="text-right">
                        Dimensions: 353 x 251mm Framed
                    </p>
                    <p class="text-right">
                        Cramer 621
                    </p>
                    <p class="text-right">
                        1988
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Eight Sculptural Ideas</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/HenryMoore/8 Sculptural Ideas.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Signed and numbered in pencil
                    </p>
                    <p class="text-right">
                        Etching and aquaint in 10 colours
                    </p>
                    <p class="text-right">
                        Dimensions: 383 x 261mm Framed
                    </p>
                    <p class="text-right">
                        Cramer 587
                    </p>
                    <p class="text-right">
                        1980
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Seven Sculptural Ideas</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/HenryMoore/7 Sculptural Ideas.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Signed and numbered in pencil
                    </p>
                    <p class="text-right">
                        Lithograph in two colours
                    </p>
                    <p class="text-right">
                        Dimensions: 336 x 258mm Unframed
                    </p>
                    <p class="text-right">
                        Cramer 296
                    </p>
                    <p class="text-right">
                        1973
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Black Seated Figure on an Orange Background</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/HenryMoore/BlackSeatedOrange.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Signed and numbered in pencil
                    </p>
                    <p class="text-right">
                        Lithograph in 5 colours
                    </p>
                    <p class="text-right">
                        Dimensions: 172 x 158mm
                    </p>
                    <p class="text-right">
                        Cramer 80
                    </p>
                    <p class="text-right">
                        1966 142/180
                    </p>
                    <p class="text-right">
                        <strong>£2,250</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Violet Torso on Orange Stripes</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/HenryMoore/VioletTorso.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Signed and numbered in pencil
                    </p>
                    <p class="text-right">
                        Lithograph in four colour
                    </p>
                    <p class="text-right">
                        Dimensions: 165 x 197mm Framed
                    </p>
                    <p class="text-right">
                        Cramer 86
                    </p>
                    <p class="text-right">
                        1967 38/180
                    </p>
                    <p class="text-right">
                        <strong>£1,850</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Three Standing Figures</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/HenryMoore/3Figures1966.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Signed and numbered in pencil
                    </p>
                    <p class="text-right">
                        Lithograph in two colours
                    </p>
                    <p class="text-right">
                        Dimensions: 203 x 190mm Framed
                    </p>
                    <p class="text-right">
                        Cramer 82
                    </p>
                    <p class="text-right">
                        1966 117/180
                    </p>
                    <p class="text-right">
                        <strong>£2,000</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Petals</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/HenryMoore/Petals.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Signed and in pencil from the un-numbered edition of 50
                    </p>
                    <p class="text-right">
                        Lithograph on Arches wove paper printed to edges
                    </p>
                    <p class="text-right">
                        Dimensions: 477 x 387mm Unframed
                    </p>
                    <p class="text-right">
                        Cramer 319
                    </p>
                    <p class="text-right">
                        1974
                    </p>
                    <p class="text-right">
                        <strong>£650</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Three Reclining Figures 1971</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/HenryMoore/3RecliningFigures.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Original hand signed, dated and Numbered Lithograph
                    </p>
                    <p class="text-right">
                        Dimensions: 30 x 23cm Framed
                    </p>
                    <p class="text-right">
                        19/75
                    </p>
                    <p class="text-right">
                        1971
                    </p>
                    <p class="text-right">
                        <strong>£2100</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>
</main>

