
@{
    ViewBag.Title = "Hilton";
}

<section class="jumbotron">

    <h1>Dylan Taylor Art - Hilton</h1>
    <h2>Picasso Etchings, Lithographs and Screenprints</h2>

    <blockquote>
        <p>
            Rose Hilton née Phipps, (15 August 1931 – 19 March 2019)
            was a British painter living in Cornwall.[2] Her
            husband said that he would be only artist in their relationship, 
            but she achieved recognition after he died.
        </p>
        <p>
            Hilton was born in Kent, in 1931 into a very religious family. 
            There was not much art in her house but she cherished the 
            religious illustrations that she saw. Her parents did not 
            want her to be an artist but training in art to be a teacher 
            was allowed.She attended the Royal College of Art in London 
            but her parents insisted that she travel home each night to 
            avoid the life in London. She and Bridget Riley were two of 
            the leading students, both gaining first class degrees.[3] 
            She won the Life Drawing and Painting prize as well as the 
            Abbey Minor Scholarship to Rome
        </p>
        <p>
            <span class="text-right"><a href="https://en.wikipedia.org/wiki/Rose_Hilton" target="_blank">Wikipedia 2023</a></span>
        </p>

    </blockquote>
    <p class="text-right">
        <a href="~/Home/Contact" class="btn btn-success btn-lg">Contact Martin &raquo;</a>
    </p>

</section>
<main>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Untitled (Reclining Nude)
                    </h4>
                </div>
                <div class="panel-body">
                    <a href="~/Images/Hilton/Untitled2.jpg" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hilton/Untitled2.png" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Watercolour
                    </p>
                    <p class="text-right">
                        Image size: 29.5 cms x 21 cms
                    </p>
                    <p class="text-right">
                        Signed "Phipps" andf dated indistinctly,
                        Provenance: The Artist's Family'
                    </p>
                    <p class="text-right">

                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£1500</strong>
                    </p>
                </div>
            </article>
        </div>

        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Spring Tree</h4>
                </div>
                <div class="panel-body">
                    <a href="~/Images/Hilton/springtree.jpg" target="_blank">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hilton/SpringTree.png" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Oil on board
                    </p>
                    <p class="text-right">
                        Image size: 28.5 cms x 21 cms
                    </p>
                    <p class="text-right">
                        Signed and inscribed verso
                    </p>
                    <p class="text-right">

                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>POA</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Untitled (Garden View)
                    </h4>
                </div>
                <div class="panel-body">
                    <a href="~/Images/Hilton/GardenView.jpg" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hilton/GardenView.png" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Mixed media on paper
                    </p>
                    <p class="text-right">
                        Image size: 16 cms x 22 cms
                    </p>
                    <p class="text-right">
                        Provenance: The Artist's Family
                    </p>
                    <p class="text-right">

                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£750</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>

    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Untitled (Three Figures)
                    </h4>
                </div>
                <div class="panel-body">
                    <a href="~/Images/Hilton/3 Figures.jpg" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hilton/3 Figures.png" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Provenance: The artist's family'
                    </p>
                    <p class="text-right">
                        Mixed media on paper
                    </p>
                    <p class="text-right">
                        Image size: 29.5cm x 36.5cm
                    </p>
                    <p class="text-right">
                        Hand signed in pencil
                    </p>
                    <p class="text-right">
                        1969
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£2,000</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Standing Nude</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hilton/StandingNude.png" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Oil on canvas
                    </p>
                    <p class="text-right">
                        Image size: 50 cms x 76 cms
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Tea at Newlyn</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hilton/TeaNewlyn.png" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Oil on canvas
                    </p>
                    <p class="text-right">
                        Image size: 60 cms x 50 cms
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>

    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Botanic Landscape
                    </h4>
                </div>
                <div class="panel-body">
                    <a href="~/Images/Hilton/3 Figures.jpg" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hilton/BontanicLandscape.png" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Pastels on paper
                    </p>
                    <p class="text-right">
                        Image size: 21cm x 30cm
                    </p>
                    <p class="text-right">
                        Signed in pencil
                    </p>
                    <p class="text-right">
                        1969
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£950</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Botallack Figure</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hilton/Botallack.png" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Screenprint
                    </p>
                    <p class="text-right">
                        Image size: 26 cms x 36 cms
                    </p>
                    <p>
                        Printer's proof, edition was 50'
                    </p>
                    <p class="text-right">
                        Unframed
                    </p>
                    <p class="text-right">
                        <strong>£550</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
  
        </div>
    </section>
</main>

