
@{
    ViewBag.Title = "Hockney";
}

<section class="jumbotron">

    <h1>Dylan Taylor Art</h1>
    <h2>David Hockney Etchings, Lithographs and Screenprints</h2>

    <blockquote>
        <p>
            David Hockney is an English painter, draftsman, printmaker, stage designer, 
            and photographer. As an important contributor to the pop 
            art movement of the 1960s, he is considered one of the 
            most influential British artists of the 20th century.
        </p>
        <p>
            <span class="text-right"><a href="https://en.wikipedia.org/wiki/David_Hockney" target="_blank">Wikipedia 2021</a></span>
        </p>

    </blockquote>

    <p class="text-right">
        <a href="~/Home/Contact" class="btn btn-success btn-lg">Contact Martin &raquo;</a>
    </p>

</section>
<main>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Hat on Chair
                    </h4>
                </div>
                <div class="panel-body">
                    <a href="~/Images/Hockney/HatOnChair.jpg" target="_blank">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hockney/HatOnChair.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Numbered from the edition of 35
                    </p>
                    <p class="text-right">
                        Etching
                    </p>
                    <p class="text-right">
                        Hand signed in pencil
                    </p>
                    <p class="text-right">
                        1998
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>

        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Mo with Five Leaves
                    </h4>
                </div>
                <div class="panel-body">
                    <a href="~/Images/Hockney/5Leaves.jpg" target="_blank">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hockney/5Leaves.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Numbered from the edition of 75
                    </p>
                    <p class="text-right">
                        Etching
                    </p>
                    <p class="text-right">
                        Signed in pencil
                    </p>
                    <p class="text-right">
                        1971
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">iPad drawing 281</h4>
                </div>
                <div class="panel-body">
                    <a href="~/Images/Hockney/Drawing281.jpg" target="_blank">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hockney/Drawing281.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Numbered from the edition of 250
                    </p>
                    <p class="text-right">
                        iPad drawing
                    </p>
                    <p class="text-right">
                        Signed in pencil
                    </p>

                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>

    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Unititled (for Joel Wachs)
                    </h4>
                </div>
                <div class="panel-body">
                    <a href="~/Images/Hockney/Untitled-93.jpg" target="_blank">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hockney/Untitled-93.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Numbered from the edition of 130
                    </p>
                    <p class="text-right">
                        Lithograph and screenprint in colours
                    </p>
                    <p class="text-right">
                        Signed in pencil
                    </p>
                    <p class="text-right">
                        1993
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Walking</h4>
                </div>
                <div class="panel-body">
                    <a href="~/Images/Hockney/Stanley86.jpg" target="_blank">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hockney/Walking.jpg" />
                        </figure>
                    </a>
                    <br />

                    <p class="text-right">
                        Numbered from an edition of 59
                    </p>
                    <p class="text-right">
                        Hand signed in pencil
                    </p>
                    <p class="text-right">
                        Home made print on a office colour copy machine
                    </p>
                    <p class="text-right">
                        1986
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Seranade
                    </h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hockney/Seranade sm.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Numbered from an edition of 200
                    </p>
                    <p class="text-right">
                        Etching and aquatint in colours
                    </p>
                    <p class="text-right">
                        Hand Signed
                    </p>
                    <p class="text-right">
                        1976-77
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Sold</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>

    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Still Life with Figures
                    </h4>
                </div>
                <div class="panel-body">
                    <a href="~/Images/Hockney/Still Life 1.jpg" target="_blank">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hockney/Still Life 1 sm.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Numbered from the edition of 200
                    </p>
                    <p class="text-right">
                        Etching with aquatint
                    </p>
                    <p class="text-right">
                        Hand signed by the artist
                    </p>
                    <p class="text-right">
                        1976/77
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£6,500</strong>
                    </p>
                </div>
            </article>
        </div>

        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Glass Table with Objects</h4>
                </div>
                <div class="panel-body">
                    <a href="~/Images/Hockney/GlassTable.jpg" target="_blank">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hockney/GlassTable sm.jpg" />
                        </figure>
                    </a>
                    <br />

                    <p class="text-right">
                        Numbered from an edition of 75
                    </p>
                    <p class="text-right">
                        Hand signed by the artist
                    </p>
                    <p class="text-right">
                        Lithograph
                    </p>
                    <p class="text-right">
                        1969
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>
        @*<div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Seranade
                    </h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Hockney/Seranade sm.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Numbered from an edition of 200
                    </p>
                    <p class="text-right">
                        Etching and aquatint in colours
                    </p>
                    <p class="text-right">
                        Hand Signed
                    </p>
                    <p class="text-right">
                        1976-77
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>*@
    </section>

</main>


