@{
    ViewBag.Title = "Home Page";
}

<section class="jumbotron">
    <h1>Dylan Taylor Art</h1>

    <p class="lead">Signed Limited Edition 
        <a href="http://www.bobdylanart.com/">Graphic Prints by Bob Dylan</a> 
        for re-sale.  The Drawn Blank Series from 2008 onwards. 
    </p>
    @*<p>
        <a href="https://toughnickel.com/personal-finance/Is-Bob-Dylan-Art-A-Good-Investment" target="_blank">
            Is Bob Dylan Art a Good Investment?
        </a>
    </p>*@
    <p>
        <a href="~/Home/Collections" class="btn btn-success btn-lg">View Collections &raquo;</a>
        <a href="~/Home/Gallery" class="btn btn-success btn-lg">View Gallery &raquo;</a>
        <a href="~/Home/Contact" class="btn btn-success btn-lg">Contact Martin &raquo;</a>
    </p>
</section>

<section id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Images/slide1.png" alt="Bob Dylan Graphics" class="img-responsive">
            <div class="carousel-caption lead">
                Drawn Blank 2008/2009
            </div>
        </div>
        <div class="item">
            <img src="~/Images/slide2.png" alt="Bob Dylan Graphics">
            <div class="carousel-caption lead">
                Drawn Blank 2009
            </div>
        </div>
        <div class="item">
            <img src="~/Images/slide3.png" alt="Bob Dylan Graphics">
            <div class="carousel-caption lead">
                Drawn Blank 2012/2014
            </div>
        </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</section>

