
@{
    ViewBag.Title = "Joan Miro";
    string Miro = "Mir" + (char)243;
}

<section class="jumbotron">

    <h1>Dylan Taylor Art</h1>
    <h2>Joan @Miro Etchings, Lithographs and Screenprints</h2>

    <blockquote>
        <p>
            <strong>Joan @Miro</strong> (April 20, 1893 – December 25, 1983) was
            a spanish painter, sculptor and ceramicist born in Barcelona  where
            there is a museum dedicated to his work.
        </p>
        <p>
            Earned international acclaim, his work has been interpreted as Surrealism, a sandbox for the subconscious mind, a re-creation of the childlike, and a manifestation of Catalan pride. In numerous interviews dating from the 1930s onwards, Miró expressed contempt for conventional painting methods as a way of supporting bourgeois society, and declared an "assassination of painting" in favour of upsetting the visual elements of established painting
            <span class="text-right"><a href="https://en.wikipedia.org/wiki/Joan_Mir%C3%B3" target="_blank">Wikipedia 2019</a></span>
        </p>

    </blockquote>
    <p class="text-right">
        <a href="~/Home/Contact" class="btn btn-success btn-lg">Contact Martin &raquo;</a>
    </p>

</section>
<main>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Untitled</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Miro/Miro-01.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Composition IV, Lithograph III
                    </p>
                    <p class="text-right">
                        Image size: 45cm x 37cm
                    </p>
                    <p class="text-right">
                        Signed and dated
                    </p>
                    <p class="text-right">
                        1977 LXVII/LXXX
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£2600</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Je Travaille Comme un Jardinier</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Miro/IMG_3285.JPG" />
                        </figure>
                    </a>
                    <p class="text-right">
                        Lithograph
                    </p>
                    <p class="text-right">
                        Image size: 222 x 222mm
                    </p>
                    <p class="text-right">
                        Signed and inscribed H.C. in pencil
                    </p>
                    <p class="text-right">
                        M.417
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£2850</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Je Travaille Comme un Jardinier</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Miro/IMG_3286.JPG" />
                        </figure>
                    </a>
                    <p class="text-right">
                        Lithograph
                    </p>
                    <p class="text-right">
                        Image size: 222 x 222mm
                    </p>
                    <p class="text-right">
                        Signed and inscribed H.C. in pencil
                    </p>
                    <p class="text-right">
                        M.413
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£2350</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">La Melodie Acide</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Miro/IMG_3291.JPG" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Lithograph in Colours
                    </p>
                    @*<p class="text-right">
                        Image size: 45cm x 37cm
                    </p>*@
                    <p class="text-right">
                        Hand signed byt the artist
                    </p>
                    <p class="text-right">
                        1980 Plate 13/14
                    </p>
                    <p class="text-right">
                        Numbered 17/20
                    </p>
                    <p class="text-right">
                        <strong>Price on application</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">La Melodie Acide</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Miro/IMG_3292.JPG" />
                        </figure>
                    </a>
                    <p class="text-right">
                        Lithograph in colours
                    </p>
                    @*<p class="text-right">
                        Image size: 222 x 222mm
                    </p>*@
                    <p class="text-right">
                        H.C. inpencil and Signed by the artist
                    </p>
                    @*<p class="text-right">
                        Framed
                    </p>*@
                    <p class="text-right">
                        <strong>Price on application</strong>
                    </p>
                </div>
            </article>
        </div>
        @*<div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Je Travaille Comme un Jardinier</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Miro/IMG_3279.JPG" />
                        </figure>
                    </a>
                    <p class="text-right">
                        Lithograph
                    </p>
                    <p class="text-right">
                        Image size: 222 x 222mm
                    </p>
                    <p class="text-right">
                        Signed and inscribed H.C. in pencil
                    </p>
                    <p class="text-right">
                        M.413
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£2350</strong>
                    </p>
                </div>
            </article>
        </div>*@
    </section>
</main>