
@{
    ViewBag.Title = "John Hoyland";
}

<section class="jumbotron">

    <h1>Dylan Taylor Art</h1>
    <h2>John Hoyland Etchings, Lithographs and Screenprints</h2>

    <blockquote>
        <p>
            John Hoyland was born on 12 October 1934, in Sheffield, Yorkshire, to a
            working-class family, and educated at Sheffield School of Art and Crafts
            within the junior art department (1946–51) before progressing to
            Sheffield College of Art (1951–56),and the Royal Academy Schools,
            London (1956–60), where Sir Charles Wheeler, the then President of
            the Royal Academy famously ordered that Hoyland's paintings
            – all abstracts – be removed from the walls of the Diploma Galleries.
            It was only the intervention of Peter Greenham, Acting Keeper of the
            Schools, that saved the day when he reminded Sir Charles Wheeler
            that Hoyland had painted admired landscapes and figurative
            paintings– evidence that he could 'paint properly'.
            <span class="text-right"><a href="https://en.wikipedia.org/wiki/John_Hoyland" target="_blank">Wikipedia 2019</a></span>
        </p>

    </blockquote>

    <p class="text-right">
        <a href="~/Home/Contact" class="btn btn-success btn-lg">Contact Martin &raquo;</a>
    </p>

</section>
<main>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Kinor</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/JohnHoyland/Kinor.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Image size: 27cm x 25cm
                    </p>
                    <p class="text-right">
                        Signed, numbered and dated in pencil
                    </p>
                    <p class="text-right">
                        1986 28/40
                    </p>
                    <p class="text-right">
                        Unframed
                    </p>
                    <p class="text-right">
                        <strong>£800</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Story From Nature</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/JohnHoyland/StoryFromNature.jpg" />
                        </figure>
                    </a>
                    <p class="text-right">
                        Image size: 38 x 28.5cm
                    </p>
                    <p class="text-right">
                        Signed, numbered and dated in pencil
                    </p>
                    <p class="text-right">
                        1997 68/75
                    </p>
                    <p class="text-right">
                        Unframed
                    </p>
                    <p class="text-right">
                        <strong>£875</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Cruwen Studio Anniversary Print</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/JohnHoyland/CurwenAP.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Image size: 68 x 54cm
                    </p>
                    <p class="text-right">
                        Signed, numbered and dated in pencil
                    </p>
                    <p class="text-right">
                        2008 8/50
                    </p>
                    <p class="text-right">
                        Unframed
                    </p>
                    <p class="text-right">
                        <strong>£900</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">The Red Boat</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/JohnHoyland/TheRedBoat.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Image size: 22 x 18cm
                    </p>
                    <p class="text-right">
                        Signed, numbered and dated in pencil
                    </p>
                    <p class="text-right">
                        1999 270/300
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Sold</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Window to Nature</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/JohnHoyland/WindowToNature.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Image size: 41 x 30cm
                    </p>
                    <p class="text-right">
                        Signed, numbered and dated in pencil
                    </p>
                    <p class="text-right">
                        1997 32/75
                    </p>
                    <p class="text-right">
                        Framed
                    </p>                    <p class="text-right">
                        <strong>Sold</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Window Genie</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/JohnHoyland/WindowGenie.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Image size: 47.5 x 58.5cm
                    </p>
                    <p class="text-right">
                        Signed, numbered and dated in pencil
                    </p>
                    <p class="text-right">
                        1997 32/75
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Sold</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Spirit Side</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/JohnHoyland/SpiritSide.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Image size: 38 x 28.5cm
                    </p>
                    <p class="text-right">
                        Signed, numbered and dated in pencil
                    </p>
                    <p class="text-right">
                        1997 68/75
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£950</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Friendly Ghost</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/JohnHoyland/FriendlyGhost.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Image size: 38 x 28cm
                    </p>
                    <p class="text-right">
                        Signed, numbered and dated in pencil
                    </p>
                    <p class="text-right">
                        1997 68/75
                    </p>
                    <p class="text-right">
                        Unframed
                    </p>
                    <p class="text-right">
                        <strong>£875</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Mahi</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/JohnHoyland/Mahi.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Image size: 27 x 25cm
                    </p>
                    <p class="text-right">
                        Signed, numbered and dated in pencil
                    </p>
                    <p class="text-right">
                        1986 28/40
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£800</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>
</main>

