@model DylanTaylorArt.Models.Collection

@{
    ViewBag.Title = "Oliver Kellert";

}

    <section class="jumbotron">

        <h1 class="crazy-horse">Crazy Horse Contemporary</h1>
        <h2>Oliver Kellert </h2>

        <blockquote>
            <p>
                In August 2019 <strong>Oliver</strong>
                was entered into a competition and he won a
                place in the Young Artist Summer Show at the Royal Academy.
                Out of 6,200 submissions, only 135 artists were chosen to have their
                artwork displayed at the Royal Academy and Oliver was one of them!
            </p>
            <p>
                Oliver is a talented emerging abstract artist.
            </p>
            </p>
        </blockquote>

        <div class="text-right">
            <button class="btn btn-warning btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                See More on Oliver
            </button>
            <a href="~/Assets/oliver kellert power.pdf" class="btn btn-warning btn-lg" target="_blank">See More on Oliver's Art &raquo;</a>
            <a href="~/Home/Contact" class="btn btn-success btn-lg">Contact Martin &raquo;</a>
        </div>

        <blockquote class="collapse" id="collapseExample">
            <div class="well">
                <p>
                    He works in mixed media including acrylic, oils, spray paints, collage
                    and finishing with oil pastels or chalk. Creating on anything he can
                    including walls, skateboards, recycled wood and canvas.
                </p>
                <p>
                    Focused to create unique contemporary abstract art based from his thoughts
                    and feelings at the time! His art is full of colour, texture and many hidden
                    meanings. He tends to paint playing music,  adding words and how the music
                    makes me feel to the paintings.
                </p>
                <p>
                    Oli recently held his own exhibition at Marks & Tilt gallery, St Albans after
                    the owner heard about his success in a competition which led to his art being
                    hung in the Royal Academy.
                </p>
                <p>
                    Owner of Marks and Tilt gallery Ralph Tilt said:
                </p>
                <p>
                    <em>
                        "Oliver is a talented emerging artist and that is why we have decided to offer him this opportunity."
                    </em>
                </p>
                <p>
                    <em>"I am always reluctant to compare such a young artist to other styles of work."</em>
                </p>
                <p>
                    <em>
                        "Oliver is a unique painter. That said, his semi abstract work has been compared to Jean-Michel Basquiat.
                        We're looking forward to great things from Oliver and this is just the beginning."
                    </em>
                </p>
                <p class="text-center">
                    <small>
                        <a href="http://royal-acad-arts.msgfocus.com/q/1IJStF55y7j5B22iF1MCC/wv?fbclid=IwAR1-CglfnsYpHLzWW70cCdohbb9UGwPE3YXqIrVTAM8jA9Zkq1yYkwMMMjo" target="_blank">
                            The Royal Academy of Arts 2019 - Looking Back
                        </a> |
                        <a href="https://www.hertsad.co.uk/news/sandringham-boy-wins-art-competition-at-royal-arts-academy-1-6165336?utm_source=Facebook&utm_medium=Social_Icon&utm_campaign=in_article_social_icons&fbclid=IwAR1rLweS4aDXBbQkDf8QfWGXldkwUfP3Sm6BosnUyKAoknMWZC7GiGyEIZA" target="_blank">
                            Herts Advertiser 17/07/2019
                        </a> |
                        <a href="https://www.hertsad.co.uk/news/sandringham-pupil-and-royal-academy-artists-has-solo-exhibition-in-st-albans-1-6248938" target="_blank">
                            Herts Advertiser 17/09/2019
                        </a>
                    </small>
                </p>
            </div>
        </blockquote>

    </section>

<section>
    @Html.Partial("_Graphic", Model)
</section>

