@{
    ViewBag.Title = "Henri Matisse";
}

<section class="jumbotron">

    <h1>Dylan Taylor Art - Matisse</h1>
    <h2>Henri Mattise Etchings</h2>

    <blockquote>
        <p>
            <strong>Henri Émile Benoît Matisse</strong> (French: [ɑ̃ʁi emil bənwa matis]; 
            31 December 1869 – 3 November 1954) was a French visual artist, 
            known for both his use of colour and his fluid and original 
            draughtsmanship. He was a draughtsman, printmaker, and sculptor, 
            but is known primarily as a painter.[1] 
            Matisse is commonly regarded, along with Pablo Picasso, as one 
            of the artists who best helped to define the revolutionary 
            developments in the visual arts throughout the opening decades 
            of the twentieth century, responsible for significant developments 
            in painting and sculpture. 
            <a href="https://en.wikipedia.org/wiki/Henri_Matisse target="_blank"">Wikipedia 2023</a>
        </p>

    </blockquote>

    <p class="text-right">
        <a href="~/Home/Contact" class="btn btn-success btn-lg">Contact Martin &raquo;</a>
    </p>

</section>
<main>
    <section class="row">
        <div class="col-lg-6">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Spanish Lady with comb, eyes downcast</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Matisse/SpanishLady.jpg" />
                        </figure>
                    </a>
                    <br />
                    <img  class="img-responsive" src="~/Images/Matisse/SpanishLady_sig.jpg"/>
                    <p class="text-right">
                        Drypoint Etching 
                    </p>
                    <p class="text-right">
                        Image size: 11cm x 6.5cm
                    </p>
                    <p class="text-right">
                        Signed and numbered 4/7 in ink bottom right,
                        installed in pencil below left
                    </p>
                    <p class="text-right">
                        1919/20
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>POA</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-6">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Virgin and Child. For ‘Exposition de Dessins d’Etude Matisse,Vence.1949.</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Matisse/VirginChild.jpg" />
                        </figure>
                    </a>
                    <br />
                    <img class="img-responsive" src="~/Images/Matisse/VirginChild_sig.jpg" />

                    <p class="text-right">

                    </p>
                    <p class="text-right">
                        Image size: 39.5 x 23.5cm
                    </p>
                    <p class="text-right">
                        Hand Signed in black ink
                    </p>
                    <p class="text-right">

                    </p>
                    <p class="text-right">
                        Unframed
                    </p>
                    <p class="text-right">
                        <strong>POA</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
 
        </div>
    </section>
</main>

