
@{
    ViewBag.Title = "Picasso";
}

<section class="jumbotron">

    <h1>Dylan Taylor Art</h1>
    <h2>Picasso Etchings, Lithographs and Screenprints</h2>

    <blockquote>
        <p>
            Pablo Ruiz Picasso Spanish: 25 October 1881 – 8 April 1973) was a 
            Spanish painter, sculptor, printmaker, ceramicist, stage designer, 
            poet and playwright who spent most of his adult life in France. 
            Regarded as one of the most influential artists of the 20th 
            century, he is known for co-founding the Cubist movement, 
            the invention of constructed sculpture, the co-invention 
            of collage, and for the wide variety of styles that he 
            helped develop and explore.
        </p>
        <p>
            <span class="text-right"><a href="https://en.wikipedia.org/wiki/Pablo_Picasso" target="_blank">Wikipedia 2019</a></span>
        </p>

    </blockquote>
    <p class="text-right">
        <a href="~/Home/Contact" class="btn btn-success btn-lg">Contact Martin &raquo;</a>
    </p>

</section>
<main>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Femme nue et homme a la canne
                    </h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Picasso/Woman and Man with stick.jpg" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Nude woman and man with a stick
                    </p>
                    <p class="text-right">
                        Original Lithograph
                    </p>
                    <p class="text-right">
                        Image size: 21cm x 26.5cm
                    </p>
                    <p class="text-right">
                        Hand signed in pencil
                    </p>
                    <p class="text-right">
                        1969
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£4,950</strong>
                    </p>
                </div>
            </article>
        </div>

        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Nu de Dos</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Picasso/Nude Back.jpg" />
                        </figure>
                    </a>
                    <br/>
                    <p class="text-right">
                        Nude Back
                    </p>
                    <p class="text-right">
                        Numbered Etching on Arches Wove Paper
                    </p>
                    <p class="text-right">
                        Image size: 327 x 270mm
                    </p>
                    <p class="text-right">
                        Hand signed in pencil
                    </p>
                    <p class="text-right">
                        14/80 1943
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center"> </h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Picasso/Woman and Man2.jpg" />
                        </figure>
                    </a>
                    <p class="text-right">
                        Homme assis aupres d'une femme coiffant,avec,derrière,deux peintres
                    </p>
                    <p class="text-right">
                        Aquatint and drypoint
                    </p>
                    <p class="text-right">
                        Image size: 208 x 267mm
                    </p>
                    <p class="text-right">
                        Hand Signed
                    </p>
                    <p class="text-right">
                        1968
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>Price on Application</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>

</main>

