
@{
    ViewBag.Title = "On Show";
}
<section class="jumbotron">
    <h1>Dylan Taylor Art on Show</h1>
    <p>A selection of the various Galleries that the graphic prints have been on show</p>
</section>
<main>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title text-center">
                        <a href="http://www.marksandtilt.com/" target="_blank">
                            2017 Marks &amp; Tilt Gallery
                        </a>
                    </h3>
                </header>
                <section class="panel-body">
                    <img src="~/Images/Shows/2017MarksTilt1.jpg" class="img-responsive img-orientation" />
                </section>
                <footer class="panel-footer text-center">
                    London Road, St Albans
                </footer>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title text-center">
                        <a href="http://www.marksandtilt.com/" target="_blank">
                            2017 Marks &amp; Tilt Gallery
                        </a>
                    </h3>
                </header>
                <section class="panel-body">
                    <img src="~/Images/Shows/2017MarksTilt3.jpg" class="img-responsive img-orientation" />
                </section>
                <footer class="panel-footer text-center">
                    London Road, St Albans
                </footer>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title text-center">
                        <a href="http://www.marksandtilt.com/" target="_blank">
                            2017 Marks &amp; Tilt Gallery
                        </a>
                    </h3>
                </header>
                <section class="panel-body">
                    <img src="~/Images/Shows/2017MarksTilt2.jpg" class="img-responsive img-orientation" />
                </section>
                <footer class="panel-footer text-center">
                    London Road, St Albans
                </footer>
            </article>
        </div>
    </section>
    @*<section class="row">
        <div class="col-lg-4">
            <article class="panel panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title text-center">
                        <a href="http://www.marksandtilt.com/" target="_blank">
                            2017 Marks &amp; Tilt Gallery
                        </a>
                    </h3>
                </header>
                <section class="panel-body">
                    <img src="~/Images/Shows/2017MarksTilt5.jpg" class="img-responsive" />
                </section>
                <footer class="panel-footer text-center">
                    London Road, St Albans
                </footer>
            </article>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
           
        </div>
    </section>*@
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-default">
                <header class="panel-heading text-center" style="height:80px;">
                    <h3 class="panel-title">2017 Three Wise Monkeys</h3>
                </header>
                <section class="panel-body" style="height:300px;">
                    <img src="~/Images/Shows/20173WiseMonkeys1.jpg" class="img-responsive img-rotate" />
                </section>
                <footer class="panel-footer text-center" style="height:80px;">
                    A Gallery ?? near St Albans
                </footer>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-default">
                <header class="panel-heading text-center" style="height:80px;">
                    <h3 class="panel-title">2017 Three Wise Monkeys</h3>
                </header>
                <section class="panel-body" style="height:300px;">
                    <img src="~/Images/Shows/20173WiseMonkeys3.jpg" class="img-responsive img-rotate" />
                </section>
                <footer class="panel-footer text-center">
                    A Gallery ?? near St Albans
                </footer>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-default">
                <header class="panel-heading" style="height:80px;">
                    <h3 class="panel-title text-center">2017 Three Wise Monkeys</h3>
                </header>
                <section class="panel-body" style="height:300px;">
                    <img src="~/Images/Shows/20173WiseMonkeys2.jpg" class="img-responsive img-rotate" />
                </section>
                <footer class="panel-footer text-center">
                    A Gallery ?? near St Albans
                </footer>
            </article>
        </div>
    </section>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-default">
                <header class="panel-heading" style="height:80px;">
                    <h3 class="panel-title text-center">2016 Bayford Village Charity</h3>
                </header>
                <section class="panel-body" style="height:300px;">
                    <img src="~/Images/Shows/2016Bayford2.jpg" class="img-responsive img-rotate" />
                </section>
                <footer class="panel-footer text-center">
                    Open Gardens Day, Herts
                </footer>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-default">
                <header class="panel-heading" style="height:80px;">
                    <h3 class="panel-title text-center">2016 Bayford Village Charity</h3>
                </header>
                <section class="panel-body" style="height:300px;">
                    <img src="~/Images/Shows/2016Bayford.jpg" class="img-responsive img-rotate" />
                </section>
                <footer class="panel-footer text-center">
                    Open Gardens Day, Herts
                </footer>
            </article>

        </div>
        <div class="col-lg-4">
            <article class="panel panel-default">
                <header class="panel-heading" style="height:80px;">
                    <h3 class="panel-title text-center">2016 Bayford Village Charity</h3>
                </header>
                <section class="panel-body" style="height:300px;">
                    <img src="~/Images/Shows/2016Bayford3.jpg" class="img-responsive img-rotate" />
                </section>
                <footer class="panel-footer text-center">
                    Open Gardens Day, Herts
                </footer>
            </article>
        </div>
    </section>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title text-center">
                        <a href="https://www.raindropsonroses.org.uk/" target="_blank">
                            2014 Raindrops and Roses
                        </a>
                    </h3>
                </header>
                <section class="panel-body">
                    <img src="~/Images/Shows/2014RaindropsRoses3.JPG" class="img-responsive" />
                </section>
                <footer class="panel-footer text-center">
                    A charity shop in St Albans
                </footer>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-default">
                <header class="panel-heading" style="height:80px;">
                    <h3 class="panel-title text-center">
                        <a href="https://www.raindropsonroses.org.uk/" target="_blank">
                            2014 Raindrops and Roses
                        </a>
                    </h3>
                </header>
                <section class="panel-body" style="height:300px;">
                    <img src="~/Images/Shows/2014RaindropsRoses5.JPG" class="img-responsive img-rotate" />
                </section>
                <footer class="panel-footer text-center">
                    A charity shop in St Albans
                </footer>
            </article>

        </div>
        <div class="col-lg-4">
            <article class="panel panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title text-center">
                        <a href="https://www.raindropsonroses.org.uk/" target="_blank">
                            2014 Raindrops and Roses
                        </a>
                    </h3>
                </header>
                <section class="panel-body">
                    <img src="~/Images/Shows/2014RaindropsRoses2.JPG" class="img-responsive" />
                </section>
                <footer class="panel-footer text-center">
                    A charity shop in St Albans
                </footer>
            </article>
        </div>
    </section>
    @*<section class="row">
        <div class="col-lg-4">
            <article class="panel panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title text-center">
                        <a href="https://www.raindropsonroses.org.uk/" target="_blank">
                            2014 Raindrops and Roses
                        </a>
                    </h3>
                </header>
                <section class="panel-body">
                    <img src="~/Images/Shows/2014RaindropsRoses4.JPG" class="img-responsive" />
                </section>
                <footer class="panel-footer text-center">
                    A charity shop in St Albans
                </footer>
            </article>
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
        </div>
    </section>*@
</main>

