@{
    ViewBag.Title = "Sonia Delaunay";
}

<section class="jumbotron">

    <h1>Dylan Taylor Art</h1>
    <h2>Sonia Delaunay Etchings, Lithographs and Screenprints</h2>

    <blockquote>
        <p>
            <strong>Sonia Delaunay</strong> (November 14, 1885 – December 5, 1979) was a Ukrainian-born French artist, who spent most of her working life in Paris and, with her husband Robert Delaunay and others, cofounded the Orphism art movement, noted for its use of strong colors and geometric shapes. Her work extends to painting, textile design and stage set design. She was the first living female artist to have a retrospective exhibition at the Louvre in 1964, and in 1975 was named an officer of the French Legion of Honor.
        </p>
        <p>
            Her work in modern design included the concepts of geometric abstraction, the integration of furniture, fabrics, wall coverings, and clothing
            <span class="text-right"><a href="https://en.wikipedia.org/wiki/Sonia_Delaunay" target="_blank">Wikipedia 2019</a></span>
        </p>

    </blockquote>

    <p class="text-right">
        <a href="~/Home/Contact" class="btn btn-success btn-lg">Contact Martin &raquo;</a>
    </p>

</section>
<main>
    <section class="row">
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Untitled</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Delaunay/IMG_3363.JPG" />
                        </figure>
                    </a>
                    <br />
                    <p class="text-right">
                        Lithograph in Colours
                    </p>
                    <p class="text-right">
                        Image size: 25cm x 32cm
                    </p>
                    <p class="text-right">
                        Signed and dated in pencil
                    </p>
                    <p class="text-right">
                        1969 30/100
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£2200</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Composition 3</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Delaunay/IMG_3364.JPG" />
                        </figure>
                    </a>
                    <p class="text-right">
                        Etching and Aquatint
                    </p>
                    <p class="text-right">
                        Image size: 40 x 60cm
                    </p>
                    <p class="text-right">
                        Signed and numbered
                    </p>
                    <p class="text-right">
                        1970 15/125
                    </p>
                    <p class="text-right">
                        Framed
                    </p>
                    <p class="text-right">
                        <strong>£2850</strong>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Totem</h4>
                </div>
                <div class="panel-body">
                    <a href="#print1Details" data-toggle="collapse">
                        <figure>
                            <img class="img-responsive" src="~/Images/Delaunay/IMG_3321.JPG" />
                        </figure>
                    </a>
                    <p class="text-right">
                        Lithograph printed in colour
                    </p>
                    <p class="text-right">
                        Image size: 65 x 50cm
                    </p>
                    <p class="text-right">
                        Signed, numbered and dated
                    </p>
                    <p class="text-right">
                        Unframed
                    </p>
                    <p class="text-right">
                        <strong>£2550</strong>
                    </p>
                </div>
            </article>
        </div>
    </section>
</main>

